<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="y0daii IRC Client" 
           Manufacturer="Y0daii" 
           Version="1.0.7" 
           UpgradeCode="e7b4672f-b349-4fa6-855c-f51d08b9fada">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <!-- Application Icon -->
    <Icon Id="y0daii.ico" SourceFile="y0daii.ico" />
    <Property Id="ARPPRODUCTICON" Value="y0daii.ico" />

    <!-- Main Application Directory -->
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="y0daiiIRC">
        
        <!-- Main executable -->
        <Component Id="MainExecutable" Guid="*">
          <File Id="Y0daiiIRC.exe" 
                Name="Y0daiiIRC.exe" 
                Source="publish\Y0daiiIRC.exe" 
                KeyPath="yes" />
        </Component>

        <!-- Application DLL -->
        <Component Id="Y0daiiIRC.dll" Guid="*">
          <File Id="Y0daiiIRC.dll" 
                Name="Y0daiiIRC.dll" 
                Source="publish\Y0daiiIRC.dll" />
        </Component>

        <!-- Runtime config -->
        <Component Id="RuntimeConfig" Guid="*">
          <File Id="Y0daiiIRC.runtimeconfig.json" 
                Name="Y0daiiIRC.runtimeconfig.json" 
                Source="publish\Y0daiiIRC.runtimeconfig.json" />
        </Component>

        <!-- Dependencies -->
        <Component Id="MaterialDesignColors" Guid="*">
          <File Id="MaterialDesignColors.dll" 
                Name="MaterialDesignColors.dll" 
                Source="publish\MaterialDesignColors.dll" />
        </Component>

        <Component Id="MaterialDesignThemes" Guid="*">
          <File Id="MaterialDesignThemes.Wpf.dll" 
                Name="MaterialDesignThemes.Wpf.dll" 
                Source="publish\MaterialDesignThemes.Wpf.dll" />
        </Component>

        <Component Id="NewtonsoftJson" Guid="*">
          <File Id="Newtonsoft.Json.dll" 
                Name="Newtonsoft.Json.dll" 
                Source="publish\Newtonsoft.Json.dll" />
        </Component>

        <Component Id="XamlBehaviors" Guid="*">
          <File Id="Microsoft.Xaml.Behaviors.dll" 
                Name="Microsoft.Xaml.Behaviors.dll" 
                Source="publish\Microsoft.Xaml.Behaviors.dll" />
        </Component>

        <!-- Include all other files -->
        <Component Id="AllOtherFiles" Guid="*">
          <File Id="AllOtherFiles" Source="publish\*" />
        </Component>
      </Directory>
    </StandardDirectory>

    <!-- Start Menu Shortcuts -->
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="y0daii IRC Client">
        <Component Id="ProgramMenuDir" Guid="*">
          <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\Y0daii\y0daiiIRC" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <!-- Desktop Shortcut -->
    <StandardDirectory Id="DesktopFolder" />

    <!-- Feature Definitions -->
    <Feature Id="ProductFeature" Title="y0daii IRC Client" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="Y0daiiIRC.dll" />
      <ComponentRef Id="RuntimeConfig" />
      <ComponentRef Id="MaterialDesignColors" />
      <ComponentRef Id="MaterialDesignThemes" />
      <ComponentRef Id="NewtonsoftJson" />
      <ComponentRef Id="XamlBehaviors" />
      <ComponentRef Id="AllOtherFiles" />
      <ComponentRef Id="ProgramMenuDir" />
    </Feature>

    <!-- Shortcuts -->
    <Component Id="ApplicationShortcut" Guid="*" Directory="ProgramMenuDir">
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="y0daii IRC Client"
                Description="Modern IRC Client with Beautiful UX"
                Target="[#Y0daiiIRC.exe]"
                WorkingDirectory="INSTALLFOLDER"
                Icon="y0daii.ico"
                IconIndex="0" />
      <RemoveFolder Id="ApplicationStartMenuShortcut" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Y0daii\y0daiiIRC" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="DesktopShortcut" Guid="*" Directory="DesktopFolder">
      <Shortcut Id="ApplicationDesktopShortcut"
                Name="y0daii IRC Client"
                Description="Modern IRC Client with Beautiful UX"
                Target="[#Y0daiiIRC.exe]"
                WorkingDirectory="INSTALLFOLDER"
                Icon="y0daii.ico"
                IconIndex="0" />
      <RemoveFolder Id="ApplicationDesktopShortcut" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Y0daii\y0daiiIRC" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <!-- UI Configuration -->
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
  </Package>
</Wix>
